<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
>
    <testsuites>

        <testsuite name="Units">
            <directory>tests/Units</directory>
        </testsuite>

         <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>

    </testsuites>

    <php>
        <const name="PHPUNIT_RUNNING" value="true" />
    </php>
</phpunit>
